body {
    font-family: 'Roboto', sans-serif;
}

ol {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.app {
    max-width: 1000px;
    margin: 50px auto;
}

.list {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: box-shadow .3s ease-in-out;
}

.card:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
}

.card.marked {
    border: 2px solid crimson;
}

.card-img {
    display: flex;
    align-items: center;
    height: 150px;
}

.card img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

.logo {
    font-size: 35px;
    font-weight: 700;
    color: #ff0000;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.navli {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.navli:hover {
    border-bottom: 1px solid #ff0000;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 40px;
    margin-top: 40px;
    padding-bottom: 20px;
    background: #dfdfdf;
}

.copyright {
    display: flex;
    align-items: flex-end;
    height: 80px;
}

.year {
    font-weight: 700;
    color: #ff0000;
}