.nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 25px;
}

.navli {
    display: flex;
    align-items: center;
    height: 25px;
    padding-bottom: 5px;
    list-style: none;
    cursor: pointer;
}

.navli:hover {
    border-bottom: 1px solid #ff0000;
}